CREATE TABLE IF NOT EXISTS public.vip_visitor_department_emails ( id bigserial PRIMARY KEY, department_id bigint NOT NULL REFERENCES public.vip_visitor_departments(id) ON DELETE CASCADE, email text NOT NULL, active boolean DEFAULT true, created_at timestamptz DEFAULT now() ); ALTER TABLE public.vip_visitor_department_emails ENABLE ROW LEVEL SECURITY; CREATE POLICY \
vip_visitor_department_emails_all\ ON public.vip_visitor_department_emails FOR ALL TO anon, authenticated USING (true) WITH CHECK (true);
