CREATE TABLE IF NOT EXISTS public.vip_visitor_departments ( id bigserial PRIMARY KEY, name text NOT NULL, email text NOT NULL, fields jsonb NOT NULL DEFAULT '[]'::jsonb, active boolean DEFAULT true, created_at timestamptz DEFAULT now() ); ALTER TABLE public.vip_visitor_departments ENABLE ROW LEVEL SECURITY; CREATE POLICY \
vip_visitor_departments_all\ ON public.vip_visitor_departments FOR ALL TO anon, authenticated USING (true) WITH CHECK (true);
